*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
}
.big{
    width: 100vw;
    height: 100vh;
    background-color: rgb(4, 4, 43);
}


nav{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    background-color: rgb(3, 3, 49);
}


nav a{
   margin-right:20px;
    text-decoration: none;
    color:white;
    font-weight: 600;
   font-size: 20px;

}

.boxhero{
    width: 100vw;
    height: auto;
    padding: 20px 0 20px 0;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 70vh;
 
}

.image{
    width: 90px;
    height: 80px;
    margin-right: 25px;
    /* position: absolute;
    left:30px; */
    margin-left:35px;
}
.show{
    display: flex;
}

.hide{
    display: none;
}

h3{
    margin-bottom: 10px;
}
.descrizioni{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc{
    
    width: 300px;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top:20vh;
    /* left:40vw; */
    text-align : center;
    border : 3px solid black;
    border-radius: 15px;
    background-color: rgb(19, 19, 92);
    color: white;
    padding : 10px;
    opacity: 1;
    z-index: 99999;
}

.opacity{
    opacity: 0.3;
}


.blur{
    filter: blur(5px);
}

.image img{
    width: 90px;
    
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#boxMain{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9997;
}
.boxFooter{
    padding:15px;
    
}


ul{
    list-style-type: none;
    text-align: center;

}

li{
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 170px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 25px;
    margin: 20px;
    cursor: pointer;
}

.box img{
    width: 150px;
    height: 100px;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 90vw;
    height: auto;
    padding: 10px;
    
}
footer{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left:0;
    bottom: 0;
    text-align: center;
    padding : 3px;
    background-color: black;
    z-index: 9998;
}

