*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
}
.big{
    width: 100vw;
    height: 100vh;
    background-color: rgb(4, 4, 43);
}


nav{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background-color: rgb(3, 3, 49);
}


nav a{
   margin-right:20px;
    text-decoration: none;
    color:white;
    font-weight: 600;
   font-size: 20px;

}


.content{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 70vh;
 
}

.image{
    width: 90px;
    height: 90px;
    margin-right: 25px;
    position: absolute;
    left:30px;
}
.show{
    display: flex;
}

.hide{
    display: none;
}

h3{
    margin-bottom: 10px;
}

.desc{
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:10vw;
    left:40vw;
    border : 3px solid black;
    border-radius: 15px;
    width: 300px;
    height: 400px;
    background-color: rgb(19, 19, 92);
    color: white;
    padding:10px;
    text-align: center;
    opacity: 1;
    z-index: 99999;
}

.opacity{
    opacity: 0.3;
}


.blur{
    filter: blur(5px);
}

.image img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#boxMain{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9997;
}
.boxFooter{
    padding:15px;
    
}
.boxFooter:first-child, .boxFooter:last-child{
    border-right: 1px solid white;
    border-left: 1px solid white;
}

ul{
    list-style-type: none;
}

li{
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 170px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.box img{
    width: 150px;
    height: 100px;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 90vw;
    height: 200px;
    
}
footer{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding : 3px;
    background-color: black;
    z-index: 9998;
}


