
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
}
body{
    
    background-color: rgb(4, 4, 43);
    font-family: 'Bree Serif', serif;
}

nav{
    width: 100dvw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
    

    background-color: rgb(3, 3, 43);
}

nav a{
    margin-right:20px;
     text-decoration: none;
     color:white;
     font-weight: 600;
    font-size: 20px;
 
 }
main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100dvw;
    height: auto;
    margin-top: 100px;
}

.image{
    width: 150px;
    height: 150px;
    margin-right: 25px;
    
}

.image img{
    width: 130px;
    height: 130px;
    
}

.imageNav{
    width: 90px;
    height: 80px;
    margin-right: 25px;
  
    margin-left:35px;
}

.imageNav img{
    width: 90px;
    
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    width: 100dvw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left:0;
    bottom: 0;
    padding : 13px;
    background-color: black;
    z-index: 9998;
}

.boxFooter{
    padding:15px;
    
}
ul{
    list-style-type: none;
    text-align: center;
}

li{
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:400px) {
    .image{
        margin-bottom: 5px;
    }
    
    main{  
            flex-direction: column;
        }
}
